<%- include('./partials/header') %>

<% user.cart.forEach(function(item){ %>
    
<div class="w-full h-screen flex  items-start px-20 py-20 overflow-hidden">
    <div class="w-[25%] rounded-md overflow-hidden">

        <div class="w-full justify-center items-center h-80 bg-[#<%= item.bgcolor %>]">
            <img class="h-[20rem]" src="data:image/jpeg;base64,
            <%= item.image.toString('base64') %>" alt="">
        </div>

        <div class="w-full bg-[#<%= item.panelcolor %>] flex justify-between px-5 py-4">
            <h3 class="text-xl"><%= item.name %></h3>
            <div class="flex items-center gap-2">
                <i class="w-7 h-7 bg-white flex rounded-full items-center justify-center ri-add-line"></i>
                <div class="px-2 py-1 rounded-md bg-white text-black">01</div>
                <i class="w-7 h-7 bg-white flex rounded-full items-center justify-center ri-subtract-line"></i>
            </div>
        </div>

        <div class="w-full bg-[#<%= item.textcolor %>] flex justify-between  px-5 py-4">
            <h3 class="text-lg">Net Total</h3>
            <h2 class="text-lg">₹ <%= item.discount + platformFee %></h2>

        </div>

    </div>

    <div class="w-[75%] px-20">
        <h3 class="text-xl semibold ">Price Breakdown</h3>

        <div class="px-10 mt-5">
          <div class="flex  mt-2">
            <h2 class="w-1/3">Total MRP</h2>
            <h2>₹ <%= item.price %></h2>
          </div>
          <div class="flex mt-2 ">
            <h2 class="w-1/3">Discount on MRP</h2>
            <h2>₹ <%= item.price - item.discount %></h2>
          </div>
          <div class="flex mt-2 ">
            <h2 class="w-1/3">Platform Fee</h2>
            <h2>₹ 20</h2>
          </div>
          <div class="flex mt-2 ">
            <h2 class="w-1/3">Shipping Fee</h2>
            <h2>FREE</h2>
          </div>
        </div>

        <div class="w-full h-[1px] bg-black mt-10"></div>
        <div class="flex mt-2 ">
            <h2 class="w-1/3 text-lg ">Total Amount</h2>
            <h2 class="text-green-900 ">₹ <%= item.discount + platformFee %></h2>
          </div>
          

    </div>
    

</div>

<%})%>
</div>
</body>


</html>







